

h1  {
    padding-top:50px ;
    margin-left: 490px;
 

}

h4 {
    margin-left: 500px;
    

}
#text {
    text-align: auto;
}

#frm {
    margin-left: 460px;
    
    
}

.but {
    color: rgb#4285f4;
}

